.search-images {
  margin-top: 160px;
}
.search-images h1{
  text-align:center;
  font-size:40px;
}
.search-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#img-box {
  margin-top: 10px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding:0px;
  width: 100%;
}
