.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.prod-stat {
  text-align: left;
}
.prod-stat p{
  position: relative;
  bottom: 20px;
}
.quick-stats {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 200px;
  margin: 0 5px;
  height: 90px;
}
.prod-stat button {
  background: transparent;
  font-size: 23px;
  width: 20px;
  height: 15px;
  padding: 0 10px;
  position: relative;
  bottom: 60px;
  left: 15px;
}


