.add-product {
  border: 2px black solid;
  background: lightblue;
  padding: 10px 0;
}
.img-placeholder-div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 100%;
}
.img-placeholder-div:hover {
  cursor: pointer;
  background: darkgrey;
}
.add-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.add-form textarea {
  margin: 5px 0 10px;
  width: 60%;
  height: 40px;
  background: lightgrey;
}