.search-products {
  margin-top: 160px;
}
.search-products input {
  font-size: 16px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  font-size: 20px;
  padding: 5px 0;
}
li:hover {
  cursor: pointer;
}
