body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  margin: 0 auto;
  background: lightgrey;
}

button:hover {
  cursor: pointer;
  background: darkgrey;
}

input {
  width: 60%;
  height: 25px;
  margin: 5px 0 20px;
  background: lightgrey;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-div {
  margin: 10px;
  height: 100px;
  width: 100px;
  overflow: hidden;
  border: double 4px black; 
}