body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(237, 238, 242);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  background: rgba(221, 42, 59, 0.8);
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  background: rgba(221, 42, 59, 1);
}

input {
  width: 60%;
  margin: 5px 0 20px;
  background: white;
  height: 40px;
  border: 1px solid rgb(183, 184, 188);
  border-radius: 6px;
}
textarea {
  width: 60%;
  margin: 5px 0 20px;
  background: white;
  height: 40px;
  border: 1px solid rgb(183, 184, 188);
  border-radius: 6px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.card {
  background: white;
  border-radius: 4px;
  width: 90%;
  height: auto;
  margin: 20px auto;
  padding: 20px 0;
}

.img-div {
  margin: 10px;
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: ;
  overflow: hidden; 
}

.hide {
  display: none;
}